/* Unique font for the title */
@font-face {
    font-family: "title";
    src: url(assets/fonts/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf);
}

h1 {
    font-family: "title";
    font-size: 100px;
    text-align: center;
    color: dodgerblue;
    padding-right: 150px;
    padding-bottom: 30px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(assets/images/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#reportSection,
#aboutSection {
    display: none;
    color: white;
}

#homeSection {
    color: white;
    margin-left: 20px;

}

#searchButton {
    background-color: rgb(0, 102, 255);
    color: white;
}

#searchInput {
    margin-left: 10px;
}

#coinsContainer {
    font-size: small;
}

.nav-link {
    cursor: pointer;
}

.card {
    display: inline-block;
    background-color: rgba(30, 144, 255, 0.6);
}


.nav-link {
    color: white;
}

#progressBar {
    height: 1px;
    margin-left: 600px;
}

#loadingImg {
    height: 50px;
    margin-top: 150px;
    margin-left: 100px;
}

.form-check-input {
    height: 20px;
    min-width: 40px;
    margin-left: 210px;
}

@font-face {
    font-family: "about";
    src: url(assets/fonts/ShadowsIntoLight-Regular.ttf);
}

#about-image {
    height: 200px;
    width: 200px;
}

.about-par {
    font-family: "about";
    font-size: xx-large;
    color: white
}

/* Display parallax scrolling */
.parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.modal-dialog {
    max-width: 1500px;
    max-height: 1500px;
}

.modal-content {
    background-image: linear-gradient(0deg, #233142, #0092ca, #ff9a3c);
}

#modal-card {
    opacity: 0.75;
}


