/* Unique font for the title */
@font-face {
    font-family: "title";
    src: url(assets/fonts/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf);
}

h1 {
    font-family: "title";
    font-size: 100px;
    text-align: center;
    color: dodgerblue;
    padding-right: 150px;
    padding-bottom: 30px;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(assets/images/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#reportSection,
#aboutSection {
    display: none;
    color: white;
}

#homeSection {
    color: white;
    margin-left: 20px;
}

/* Search bar &  nav-pills positions for screen larger then sm tier: */
@media (min-width: 576px) {
    .nav-pills {
        display: flex;
        align-items: center;
    }

    #form {
        margin-left: auto;
        margin-top: -40px;
    }
}

/* Search bar position & size on all tiers: */
#form {
    width: 300px;
    padding-top: 15px;
    margin-right: 50px;
}

#searchButton {
    background-color: rgb(0, 102, 255);
    color: white;
}

#searchInput {
    margin-left: 10px;
}

#coinsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: small;
}

.nav-link {
    cursor: pointer;
}

/* Unique font for the card content */
@font-face {
    font-family: "card-content";
    src: url(assets/fonts/Angkor-Regular.ttf);
}

.card {
    display: inline-block;
    background-color: rgba(30, 144, 255, 0.6);
    text-align: center;
    font-family: "card-content";
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin: 2px;
}

/* Slight upward movement */
.card:hover {
    transform: translateY(-10px);
}

.nav-link {
    color: white;
}

#progressBar {
    height: 1px;
    margin-left: 600px;
}

#loadingImg {
    height: 50px;
    margin-top: 150px;
    margin-left: 100px;
}

#loadingImg-collapse {
    max-width: 30px;
}

/* Toggle button styling */
.form-check-input {
    height: 20px;
    min-width: 40px;
    /* margin-left: 200px; */
}

@font-face {
    font-family: "about";
    src: url(assets/fonts/Lumanosimo-Regular.ttf);
}

#about-image {
    height: 200px;
    width: 200px;
}

.about-par {
    font-family: "about";
    font-size: xx-large;
    color: white
}

/* Display parallax scrolling */
.parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.modal-dialog {
    max-width: 1300px;
    max-height: 1500px;
}

.modal-content {
    background-image: linear-gradient(0deg, #233142, #0092ca, #ff9a3c);
}

#modal-card {
    opacity: 0.75;
}

#chartContainer {
    height: 100%;
    width: 50%;
    margin: auto;
}

.alert {
    margin: auto;
    width: 400px;
}